.hmMenu a {
    padding: 10px;
    text-decoration: none;
    background-color: #0c4128;
    color: white;
    border-radius: 3px;
    transition-duration: 0.8s;
}

#icon {
    color: white;
    user-select: none;
}

#links{
    display: none;
}

.hmMenu a:hover {
    padding: 10px;
    text-decoration: none;
    background-color: #21d383;
    color: white;
    border-radius: 3px;
    transition-duration: 0.8s;
}
